# ignore Model_Weights/2x_pre folder
Model_Weights/2x_pre/
Model_Weights/pre_log
Model_Weights/PPO

# ignore PPO_Vanilla video folder
PPO_Vanilla/videos/
PPO_Vanilla/logs
PPO_Vanilla/checkpoints

# ignore logs folder
logs/
Playground/004/videos
Playground/004/logs
Playground/004/checkpoints

# ignore all pychache folders
__pycache__/
Playground/004/md.model
Playground/004/wt.weights
Playground/004/all_obs.pkl
